.top-slider {
  height: 50vh; /* Adjust the height to display the top half of the image */
  width: 100%;
  position: fixed;
  z-index: -2;
  overflow: hidden;
}
.bottom-slider {
  height: 50vh; /* Adjust the height to display the bottom half of the image */
  width: 100%;
  position: fixed;
  z-index: -2;
  overflow: hidden; /* Hide the overflow to only show the bottom half */
  margin-top: 50vh;
}

.hero__illustration {
  height: 100%; /* Adjust the height to fill the parent container */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align the image to the top in the top-slider */
  align-items: center;
}
.hero__illustration .filler:first-child {
  padding-top: 0;
}

.filler-white {
  background-color: #060628;
}
.slider-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.trailer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -3;
  background-color: #000;
}
.video-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.video {
  height: 100%;
  width: 100%;
  background: no-repeat center center fixed;
  background-size: cover;
}

.titleMain {
  position: fixed;
  width: 60%;
  height: auto;
  justify-content: center;
  z-index: -1;
  top: 35%;
  left: 19%;
}
.title-font {
  font-size: 80px;
  font-weight: 400;
  color: #ffffff;
}

/* @keyframes color-transition {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
} */

.rebeans-title {
  font-size: 120px;
  font-weight: lighter;
  width: 70%;
  justify-content: center;
  z-index: -2;
  position: fixed;
  /* margin-top: 43vh; */
  left: 14%;
  top: 43%;
  color: aliceblue;
}

.content {
  /* pushs content below header hero & trailer (should equal trailer height after threshold) */
  padding-top: 228vh;
}
@media screen and (max-width: 992px) {
  .title-font {
    font-size: 70px;
  }
  .rebeans-title {
    font-size: 80px;
    width: 80%;
    left: 10%;
    top: 46%;
  }
}

@media screen and (max-width: 768px) {
  .title-font {
    font-size: 60px;
  }
  .rebeans-title {
    font-size: 80px;
    width: 80%;
    left: 10%;
  }
}

@media screen and (max-width: 576px) {
  .titleMain{
    width:80%;
    left:10%;
  }
  .title-font {
    font-size: 50px;
  }
  .rebeans-title {
    font-size: 80px;
    width: 80%;
    left: 10%;
  }
}


