.App {
  text-align: center;
  font-family: 'Karla', sans-serif;
  /* min-height: 100vh; */
  display: block

}

.nav-heading{
  font-family: 'Karla', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #000;
}

.cart{
  min-width: 110px;
  justify-content: center;
  align-items: center;
  font-family: 'Karla';
  font-weight: 300;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
  color:rgb(196, 92, 27)
  
}

.cart:hover{
  background-color: #000;
  color: #f0b57e;
  transition: all .3s ease;
  border-radius: 10px;
}

.nav-item{
  min-width: 110px;
}

.nav-link{
  margin: 5px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  border: 1px;
  border-color: #000;
}

.nav-link:hover{
  color:#fff;
  background-color:  #000;
  transition: 0.7s;
  border-radius: 10px;
}

.navbar-toggler{
  border: none;
  background-color: transparent;
}

.sectionLanding{
  z-index: 10;
  height: 100vh;
  background-image: url('./Assets/Header-Pic.jpg');
  background-position: center 100%;
  background-size: cover;
  background-repeat: no-repeat;
}


.explore-button{
  border-radius: 5px;
  background-color: white;
  color: black;
  /* height: 40px; */
  letter-spacing: 2px;
}

.explore-button:hover{
  background-color: #000;
  color: white;
  transition: 0.7s;
}
.sectionLanding{
  /* padding-bottom: 50px; */
}

.sectionProduct{
  padding-top:8rem;
  background-color: white;
}

.ProductsHeading{
  font-weight: 400;
}

.newsletter-section{
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 2rem;
}

.newsletterButton{
  border-radius: 5px;
  background-color: white;
  color: black;
  height: 40px;
  letter-spacing: 2px;
}

.newsletterButton:hover{
  background-color: rgb(140, 52, 52);
  color: white;
  transition: 0.7s;
}

.footerLink{
  color: white;
  text-decoration: none;
}

.contactUs-section{
  color: rgb(255, 255, 255);
  background-color: #1d1f2e;
  padding: 2rem;
  
}