.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width : 460px) {
  h1 {
    font-size: 3rem !important;
  }

  h3 {
    font-size: 2.5rem !important;
  }

  .rebeans-title-box {
    padding: 20px 30px !important;
  }

  .image-holder img {
    height: 200px !important;
  }
}

@media screen and (max-width : 370px) {
  h1 {
    font-size: 4rem !important;
  }
}