.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width : 450px) {
  h1 {
    font-size: 5rem !important;
  }
}

@media screen and (max-width : 370px) {
  h1 {
    font-size: 4rem !important;
  }
}